@page
@section Scripts {
    <script src="./js/Auth.js"></script>
    <script>checkToken();</script>
}

<link href="~/css/Stylingsite.css" rel="stylesheet" />
<div class="Chat_container">
    <div class="Chat_container-row">&nbsp;</div>
    <div class="Chat_container-row">
        <div class="Chat_container--grid2">Message</div>
        <div class="Chat_container--grid4"><input type="text" id="messageInput" class="login_loginbox--textbox" /></div>
    </div>
    <div class="Chat_container-row">&nbsp;</div>
    <div class="Chat_container-row">
        <div class="Chat_container--grid6">
            <input type="button" id="sendButton" value="Send Message" class="login_loginbox--bottom" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-6">
        <ul id="messagesList"></ul>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>