<div class="mainContainer">
    <form>
        <h2>Login</h2>
        <input type="text" name="username" />
        <br />
        <input type="text" name="password" />
        <br />
        <input type="button" value="Submit" onclick="login(this.form)" />
        <a href="/Register"><input type="button" value="Register" /></a>
    </form>

    <script src="./js/Auth.js"></script>
</div>