@model IDP_Back_End.Models.CheckListItem
@using IDP_Back_End.Models;

<div class="row" style="margin: 10px;">
    <div class="checklist-item">
        <strong style="width: 70px; overflow: hidden; white-space: nowrap;">@Model.Text  </strong>
        <input type="checkbox" id="done" name="done" checked="@Model.Done">
    </div>
</div>