@{
    ViewData["Title"] = "Home Page";
}
@model List<TaskCategory>
@using IDP_Back_End.Models;
<script src="./js/Auth.js"></script>
<script>checkToken();</script>
@foreach (TaskCategory category in Model)
{
    <div class="categoryContainer" style="margin: 10px; border: solid gray 2px">
        <h2><strong>@category.Title</strong></h2>
        <div class="tasksContainer">
            @foreach (IDP_Back_End.Models.Task task in category.Tasks)
            {
                @await Html.PartialAsync("PartialViews/_TaskInCategoryView", task);
            }
        </div>
    </div>
}
