<div class="mainContainer">
    <h2>Register</h2>
    <form>
        <input type="text" name="username" />
        <br />
        <input type="text" name="password" />
        <br />
        <input type="button" value="Submit" onclick="register(this.form)" />
    </form>

    <script src="./js/Auth.js"></script>
</div>